:host {
  border: 0 solid #e1e1e1;
  border-bottom-width: 1px;
  display: block;
  height: 48px;
}

.vertical-menu-item {
  display: block;
  margin: 10px 0;
}

nav a {
  color: #8f8f8f;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

.username {
  text-align: center;
  color: black;
  font-weight: bolder;
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

.mat-raised-button {
  font-size: 1.5em;
  background-color: #106cc8;
  color:white;
}

.fill-space {
  flex-grow: 1;
}

.full-width-button {
  width: 50%;
  text-align: center;
  font-size: 1.5em;
}

.example-container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  height: calc(100% - 64px);
}

nav a.router-link-active {
  color: #106cc8;
}
