@import '../../../../../assets/scss/modules/mixins';

mat-card-subtitle {
  display: flex;
  margin-top: 35px;
  justify-content: center;
  width: 100%;
  font-size: 1.4em;
}

table {
  width: 100%;
}

@include media(sm) {
  mat-card-subtitle {
    font-size: 1.2em;
  }

  table, th, td {
    font-size: 10px;
  }

  table th, table td {
    text-align: center;
    padding: 0px;
  }
}

